.app__about_intro
{
  display: flex;
  margin: 1rem 0 8rem 0;
  @media screen and (max-width: 1100px) {  //窗口缩放小到1100 column排列
    flex-direction: column;
    margin: 2rem 0 1rem 0;
  }
}

.app__header-info{
  width: 100%;
  position: relative;
  top:6rem;

  @media screen and (max-width: 1100px) { 
    top:0rem;
  }

  //-------------------------------------------------
  .header__title {  
    font-family: 'inter', cursive;  
    color:beige;
    text-shadow: 0 0 5px rgb(163, 162, 162),
    0 0 20px #fff,   
    0 0 40px #fff700;

    padding: 1rem 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .title__job{
      font-size: 60px;
    }

    @media screen and (max-width: 450px) { 
      .title__job{
        font-size: 40px;
      }
    }
  }

 //-------------------------------------------------
  .header__sum {
    width:100%;
    margin: 2rem 0rem;
   
    padding: 1rem 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
    p {
      font-size: 18px;
      font-family: 'inter', cursive;
      text-align: left;
      color: var(--lightGray-color);
    }

    @media screen and (max-width: 450px) { 
      margin: 1rem 0rem;
      p {
        font-size: 13px;
      }
    }
  }  
  
  .header__contact{
    
    .button{
      width:200px;
      height: 50px;
      margin: 1rem 1rem; 
      
      font-size: 15px;
      color: var(--secondary-color);
      background-color:var(--primary-color); /* Green */
      border-radius: 5px;
      border: none;

      &:hover {
        box-shadow: 0px 0px 10px 5px #6b8d7f;
      }
  
      @media screen and (max-width: 1100px) {  
        width:100%;
        margin: 1rem 0rem; 
      }
      
      @media screen and (max-width: 450px) { 
        width:40%;
        height: 30px;
        font-size: 10px;
        margin: 1rem 1rem; 
      }

    }
       
    @media screen and (max-width: 1100px) { 
      margin-bottom: 0rem;
    }  
  }

}

.app__header-img {   
  position: relative;
  display: flex;
  justify-content:center; //左右居中
  align-items: flex-end; //上下

  width: 100%;
  margin-left: 2rem;
    
  .profile{
    z-index: 1;
    width: 70%;
  }

  .overlay_circle {
    position: absolute;  //cicle and prpfile 重叠
    z-index: 0;  //优先级0
    width: 75%;
  }

    @media screen and (max-width: 1100px) {
      width: 90%;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 450px) {
      .overlay_circle {
        left:30px;
      }
    }
  }


.about_me{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    

    @media screen and (max-width: 900px) {
      padding: 1rem 0rem;
    }
    

    p {
      padding: 1rem 2rem;
      color: var(--lightGray-color);
      font-family: 'inter', cursive;
      @media screen and (max-width: 450px) {
        font-size: small;
        padding: 1rem 1rem;
      }
    }

    .cg_image{

      img{
        width: 220px;
        height: 300px;
        object-fit: cover;
        margin: 2rem; 
        margin-left: 2.8rem;
        border-radius: 5px; 
   
        @media screen and (max-width: 1100px) {
          margin-right: 1rem;  
          width: 150px;
          height: 190px;
        }

        @media screen and (max-width: 900px) {
          margin: 1rem 1rem 1rem 2.5rem;  
          width: 220px;
          height: 260px;
        }

        @media screen and (max-width: 450px) {
          margin: 1rem 1rem 0rem 1rem;  
          width: 130px;
          height: 150px;
        }

      }

      @media screen and (max-width: 450px) {
        margin-left: 20px;
      }

    }
}


