#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  
  .app__wrapper {
    padding: 0;
  
    .copyright {
      display: none;
    }
  }
}

.app__header{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;

  display: flex; 
  justify-content: center;
  align-items: flex-end;

  background: url('../../assets/background.jpg');
  background-position: center;
  background-size: cover;

  @media screen and (max-width:450px) {
    background-position:-14rem;
  }
}

.header__intro {  
  margin-bottom: 4rem;

  span {
    display: table-cell;
    animation: animate 5s linear infinite;
    font-size:8vmin;
    font-family: 'Avenir', cursive;
  }

  h1 span:nth-child(1) {
    animation-delay: 0s;
  }
  h1 span:nth-child(2) {
    animation-delay: 0.1s;
  }
  h1 span:nth-child(3) {
    animation-delay: 0.2s;
  }
  h1 span:nth-child(4) {
    animation-delay: 0.3s;
  }
  h1 span:nth-child(5) {
    animation-delay: 0.4s;
  }
  h1 span:nth-child(6) {
    animation-delay: 0.5s;
  }
  h1 span:nth-child(7) {
    animation-delay: 0.6s;
  }
  h1 span:nth-child(8) {
    animation-delay: 0.7s;
  }
  h1 span:nth-child(9) {
    animation-delay: 0.8s;
  }
  h1 span:nth-child(10) {
    animation-delay: 0.9s;
  }
  h1 span:nth-child(11) {
    animation-delay: 1s;
  }
  h1 span:nth-child(12) {
    animation-delay: 1.1s;
  }
  h1 span:nth-child(13) {
    animation-delay: 1.2s;
  }
  h1 span:nth-child(14) {
    animation-delay: 1.3s;
  }
  h1 span:nth-child(15) {
    animation-delay: 1.4s;
  }
  h1 span:nth-child(16) {
    animation-delay: 1.5s;
  }
  h1 span:nth-child(17) {
    animation-delay: 1.6s;
  }
  h1 span:nth-child(18) {
    animation-delay: 1.7s;
  }
  h1 span:nth-child(19) {
    animation-delay: 1.8s;
  }
  h1 span:nth-child(20) {
    animation-delay: 1.9s;
  }
  h1 span:nth-child(21) {
    animation-delay: 2s;
  }
  h1 span:nth-child(22) {
    animation-delay: 2.1s;
  }
  h1 span:nth-child(23) {
    animation-delay: 2.2s;
  }
  h1 span:nth-child(24) {
    animation-delay: 2.3s;
  }
  h1 span:nth-child(25) {
    animation-delay: 2.4s;
  }
  h1 span:nth-child(26) {
    animation-delay: 2.5s;
  }
  h1 span:nth-child(27) {
    animation-delay: 2.6s;
  }
  h1 span:nth-child(28) {
    animation-delay: 2.7s;
  }
  h1 span:nth-child(29) {
    animation-delay: 2.8s;
  }
  h1 span:nth-child(30) {
    animation-delay: 2.9s;
  }

  @keyframes animate {
    0%,100%
    {
      color:var(--secondary-color);
    }
    5%,95%
    {
      color: var(--white-color);
      filter: blur(0px);
      text-shadow: 0 0 10px none;
    }
  }

  @media screen and (max-width:450px) {
    margin-bottom: 12rem;
    span {
      font-size:7.5vmin;
    }
  }

}  
