.app__works {
    flex: 1;
    flex-direction: column;
    width: 100%;
  }
  
  .app__work-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  
    margin: 4rem 0 2rem;
  
    .app__work-filter-item {
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      font-weight: 800;

      color: #000;
      background-color: #fff;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      
      &:hover {
        background-color: var(--secondary-color);
        color: #fff;
      }
  
      @media screen and (min-width: 2000px) {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
      }
      
    }
  
    .item-active {
      background-color: var(--secondary-color);
      color: #fff;
    }

    @media screen and (max-width: 1200px) {
      margin-left: 2.4rem;
      border-radius: 0.85rem;
    }

    @media screen and (max-width: 450px) {
      margin: 2.5rem 2.2rem 2rem;
    }
  }
  
  .app__work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    .app__work-item {
      flex-direction: column;
      height: 350px;
      width: 270px;
     
      margin: 2rem;
      padding: 1rem;

      color: #000;
      background-color: var(--secondary-color);
      border-radius: 0.5rem;
  
      cursor: pointer;
      transition: all 0.3s ease;
  
      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      }
  
      @media screen and (min-width: 2000px) {
        width: 470px;
        padding: 1.25rem;
        border-radius: 0.75rem;
      }
  
      @media screen and (max-width: 300px) {
        width: 100%;
        margin: 1rem;
      }
     
       @media screen and (max-width: 450px) {
        width: 150px;
        height: 190px;
        margin: 0.5rem;
        margin-top: 1.5rem;
        padding: 0.5rem;
      }
    }
  }
  
  .app__work-img {
    position: relative;
    width: 100%;
    height: 230px;
  
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  
    @media screen and (min-width: 2000px) {
      height: 350px;
    }
  }
  
  .app__work-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;
  
    div {
      width: 50px;
      height: 50px;
      margin: 1rem;

      font-family: var(--font-base);
      font-weight: 800;

      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease;
  
      svg {
        width: 50%;
        height: 50%;
        color: var(--white-color);
      }
    }
  }
  
  .app__work-content {
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    
    h4 {
      margin-top: 1rem;
      line-height: 1.5;
      
      @media screen and (min-width: 2000px) {
        margin-top: 3rem;
      }

      @media screen and (max-width: 450px) {
         font-size: 8px;
      }
    }
  
    .app__work-tag {
      position: absolute;
      top: -25px;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      background-color: var(--primary-color)
    }

    @media screen and (max-width: 450px) {

      .work_details{
        display: none;
      }
       p{
        font-size: 8px;
      }
      .app__work-tag {
        display: none;
      }
   }

  }

  